* { margin:0; padding:0; box-sizing:border-box; }

body {
	background:#383530;
	color:#EDDFC9;
	font-size:16px;
	font-family:arial, helvetica, sans-serif;
}
nav {
}
h1 {
	font-family:'Oswald', sans-serif;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
}
a {
	font-size: 1.5em;
	color: #FFC520;
	text-decoration: none;
	display: inline-block;
	margin:0 .5em;
	padding: .5em 0em;
}

img {
	padding:.1em;
	width:33.33%;
}

.gallery {
	float: left;
	background-color: #787565;
	width: 100px;
	height: 100px;
	padding: .5em 1em;
	margin: 1em;
}

p {
	font-family: 'Oswald', sans-serif;
}

div {
	font-size: 1em;
	width: 50%
	display:inline-block;
}

#photoboothblog {
	float: left;
	background-color:#787565;
	border: 2em .5em;
	padding: .5em 1em;
	margin: 2em;
}

#beyondbrunchblog {
	float: right;
	background-color: #787565;
	border: 2em .5em;
	padding: .5em 1em;
	margin: 2em;
}

