* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: black;
	color:#eee;
	font-size:16px;
	font-family:arial, helvetica, sans-serif;
}
nav {
}
h1 {
	font-family:'Oswald', sans-serif;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
}
a {
	border:2px solid red;
	font-size: 1.5em;
	color: red;
	text-decoration: none;
	display: inline-block;
	margin:0 1em;
	padding: .5em 1em;
}
img {
	float:left;
	padding:.1em;
	width:33.33%;
}

