* { margin:0; padding:0; box-sizing:border-box; }
body {
	background:#383530;
	color:#EDDFC9;
	font-size:16px;
	font-family: 'Oswald', sans-serif;
}
nav {
}
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	font-family:arial, helvetica, sans-serif;
}

h4 {
	font-size: 1em;
}
a {
	font-size: 1.5em;
	font-family:arial, helvetica, sans-serif;
	color: #FFC420;
	text-decoration: none;
	display: inline-block;
	margin:0 .5em;
	padding: .5em 0em;
}

#gallery {
	background-color:#787565; 
}
#gallery a {
	float: none;
}
#gallery img {
	width: 100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}



#photoboothblog {
	float: none;
	background-color:#787565;
	border: 2em .5em;
	padding: .5em 1em;
	margin: 2em;
	width: 100%;
}

#beyondbrunchblog {
	float: none;
	background-color: #787565;
	border: 2em .5em;
	padding: .5em 1em;
	margin: 2em;
	width: 100%;
}

@media only screen and (max-width: 768px) {

	h1,h2 {
		text-align: center;
	}

	nav {
		display: block;
		text-align: center;
		margin: 0;
	}

}


