* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: #C7C9CB;
	background-size: cover;
	text-align: center;
	font-size: 16px;
	font-family:arial, helvetica, sans-serif;
}

h1 {
	color: white;
	background: #302F30;
	font-family:'Philosopher', sans-serif;
	font-size: 2em;
	border-bottom: medium solid blue;
	margin: 0.5em .5em 0 .5em;
}

h2 {
	color: #041730;
	font-family:'Philosopher', sans-serif; 
	font-size: 1.5em;
	font-weight: 2em;
	margin: 0em 2em 1.5em 2em;
}

h3 {
	margin-top: 2em;
	}

.description {  
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	line-height: 2.5em;
	font-family:'Philosopher', sans-serif;
	background: #E89DCA;
	color: #041730;
}

.description a {
	text-align: left;
	padding: 1.5em 0em;
	}

#about h2 {
	text-align: left;
	text-decoration: underline;
	color: #041730;
	font-family:'Philosopher', sans-serif; 
	font-size: 1.5em;
	font-weight: 2em;
	margin: 2em .5em 0em .5em;
	padding: .5em .5em;
	}

a {
	text-align: center;
	font-size: ;
	color: black;
	font-family:'Philosopher', sans-serif;
	font-weight: 1em;
	text-decoration: underline;
	display: inline-block;
	margin: .5em .5em 0em .5em;
	padding: .5em .5em;
}

nav a {
		background-color: #302F30;
		color: white;
		padding: 0 1.5em;
		border: medium solid black;
		text-decoration: none;
	}
footer a {
	font-size: 1em;
}	

p {
	padding-top: .5em;
	font-weight: medium;
	line-height: 2em;
	display: inline-block;
}

#welcomenote p {
	background-color: #909191;
	color: white;
	text-align: left;
	margin-left: 6em;
	margin-right: 6em;
	padding-right: 2em;
	padding-left: 2em;
	padding-top: .5em;
	padding-bottom: .5em;
}

#writeupassignment2  {
	background-color: #909191;
	color: white;
	text-align: left;
	margin-left: 6em;
	margin-right: 6em;
	padding-right: 2em;
	padding-left: 2em;
	padding-top: .5em;
	padding-bottom: .5em;
}

#writeupassignment2 ol {
	line-height: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	color: #192E7A;
}

#writeupassignment1  {
	background-color: #909191;
	color: white;
	text-align: left;
	margin-left: 6em;
	margin-right: 6em;
	padding-right: 2em;
	padding-left: 2em;
	padding-top: .5em;
	padding-bottom: .5em;
}

#writeupassignment1 ol {
	line-height: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	color: #192E7A;
}

#quotes {
	font-style: italic;
	font-weight: bold;
}

img {
	margin-top: 1.5em;
}



@media only screen and (max-width: 500px) {

	h1,h2 {
		text-align: center;
	}

	nav {
		display: block;
		text-align: center;
		}

	body {
		background-color: yellow;
	}
}