* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: url("../images/backgroundflowersimage.jpg");
	background-size: cover;
	text-align: center;
	font-size:16px;
	font-family:arial, helvetica, sans-serif;
}
h1 {
	color: #041730;
	font-family: 'Gloria Hallelujah',cursive;
	font-size: 2em;
}

h2 {
	color: #041730;
	font-family:'Gloria Hallelujah',cursive; 
	font-size: 1.5em;
	font-weight: 2em;
}

hr {
	width: 800px;
	color: black;
}

p {
	color: red;
}

ul { 
	text-align: center;
	font-family:'Gloria Hallelujah',cursive;
	color: #041730;
	padding-left:1.5em;
}

p {
	text-align: left;
}

a {
	text-align: center;
	color: #041730;
	font-family:'Gloria Hallelujah',cursive;
	font-weight: 2em;
	text-decoration: none;
	display:inline-block;
	margin:0 .5em;
	padding: .5em 0em;

}

@media only screen and (max-width: 768px) {

	h1,h2 {
		text-align: center;
	}

	nav {
		display: block;
		text-align: center;
		margin: 0;
	}
}